.Collection {
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 88px;
}

.Collection-options {
    margin-bottom: 52px;
    display: flex;
}

.Collection-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 153px);
    grid-column-gap: 21px;
    grid-row-gap: 32px;
}

.Collection-options .Search {
    margin-right: 13px;
}

.Collection-footer {
    margin-top: 48px;
    margin-bottom: 88px;
    text-align: center;
}

.Collection-footer-button {
    background: none;
    border: 1px solid #0668FB;
    padding: 16px;
    border-radius: 4px;
    color: #0668FB;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
}

.Search {
    position: relative;
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
    flex: 1;
}

.Search input {
    border-radius: 4px;
    border: none;
    padding: 5px 16px 5px 48px;
    font-size: 14px;
    width: 100%;
}

.Search input::placeholder {
    color: black;
    opacity: 1;
    font-size: 14px;
}

.Search svg {
    position: absolute;
    left: 16px;
    top: 12px;
    font-size: 20px;
}