.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-header {
  display: flex;
  justify-content: center;
  padding: 0 24px;
}

.App-header-box {
  width: 100%;
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
}

.App-logo {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.App-nav {
  display: flex;
  justify-content: space-between;
}

.App-nav ol {
  list-style-type: none;
  display: flex;
}

.App-nav ol li {
  margin-right: 32px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.App-body {
  background-color: #E5E5E5;
  flex: 1;
  padding-top: 72px;
  padding: 72px 24px 0 24px;
}

.App-footer {
  background-color: #343434;
  text-align: center;
  padding: 57px 0;
  font-size: 16px;
  color: #fff;
}